@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Onest:wght@400;700&display=swap');

:root {
    --theme-1: #72d533;
    --theme-2: #3472d5;
    --theme-3: #d53472;
    --standard-shadow: 0px 1px 2px 1.5px lightgrey;
    --body-font: 'Onest', system-ui, helvetica;
    --title-font: 'Bungee', 'Onest', system-ui, helvetica;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
}

* {
    font-family: system-ui;
}

nav {
    padding: 5px;
    width: 100%;
    border-bottom: solid 1px #dddddd;
}

.title {
    font-family: var(--title-font);
    font-size: x-large;
    font-size: max(2.3vw, 23px);
    max-width: 50%;
    color: black;
    text-decoration: none;
    transition: text-decoration 200ms ease-in-out;
}
.title:hover {
    text-decoration: underline solid;
}

button.standard {
    text-align: center;
    font-size: large;
    font-family: var(--body-font);
    background: white;
    border: 0px;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    box-shadow: var(--standard-shadow);
    font-weight: bold;
    transition: background 200ms ease-in-out;
}

button.standard:hover {
    background: #ededed
}
